:root {
	--blue: #009DFF;
}

@font-face {
	font-family: "GothamRounded-Bold";
	src: url("/fonts/GothamRounded-Bold.woff2");
}
@font-face {
	font-family: "GothamRounded";
	src: url("/fonts/GothamRounded.woff2");
}

@keyframes rotate90 {
	from {transform: rotate(0deg);}
	to {transform: rotate(90deg);}
}
@keyframes rotate0 {
	from {transform: rotate(90deg);}
	to {transform: rotate(180deg);}
}


*, ::placeholder {
	font-family: "GothamRounded";
	text-align: center;
	word-wrap: break-word;
	text-decoration: none;
	padding: 0px;
	margin: 0px;
	color: var(--primaryText);
}

body {
	background-color: var(--blue);
	min-width: 320px;
}
body.loaded * {
	transition: color 0.5s ease, background-color 0.5s ease;
}	
::-webkit-scrollbar {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--secondaryColor);
	border-radius: 8px;
}

main, main a, div, label {
	background-color: var(--primaryColor);
}
main *:not(#sslcontactholder *) {
	line-height: 200%;
}

h1, h2, h3, p {
	padding-inline: 8px;
}
footer *:not(a) {
	padding: 8px;
	color: var(--primaryText) !important;
}
h1, h2, h3 {
	font-family: "GothamRounded-Bold";
}
h1 {
	font-size: 48px;
}
h2 {
	font-size: 32px;
}
h3, label, input {
	font-size: 24px;
}
p, textarea, ::placeholder {
	font-size: 16px;
}
p a, a p {
	color: var(--secondaryColor);
	text-decoration: underline;
}

header {
	height: 180px;
	padding-top: 16px;
	padding-bottom: 32px;
}
#neuer-newsletter * {
	line-height: 100% !important;
}
div:not(#sslcontactholder *) {
	padding-block: 32px;
}
footer {
	padding-top: 32px;
	padding-bottom: 16px;
}

.sslcontact * {
	display: block;
	margin: auto;
}
label {
	padding-top: 16px;
}
input, textarea {
	height: 32px;
	width: 75%;
	max-width: 512px;
	background-color: var(--secondaryColor);
	border-radius: 16px;
	color: var(--secondaryText);
	border: None;
}
textarea {
	height: 128px;
	min-height: 128px;
	resize: vertical;
}
#captcha {
	width: 48px;
}
input[type="submit"] {
	width: 144px;
}

#sslcontact_form div:nth-last-child(2) * {
	display: inline-block;
	margin-inline: 8px;
}
#sslcontact_form div:nth-last-child(2) {
	padding-bottom: 32px;
}
.formular > div:first-child, .formular > div:last-child {
	display: none;
}

nav, #name {
	text-align: left;
}
nav ul {
	list-style: none;
	display: inline;
	height: 0;
}
#name {
	padding: 8px;
	padding-top: 79px;
	padding-left: 16px;
}
#logo {
	position: absolute;
	left: 376px;
	width: 128px;
	height: 128px;
}
#button {
	background-color: var(--secondaryColor);
	border-radius: 35px;
	position: absolute;
	float: right;
	right: 10px;
	top: 85px;
	padding: 16px;
	color: var(--secondaryText)
}

nav {
	padding-left: 16px;
}
#navigationBar {
	font-size: 24px;
}
#navigationBar a {
	padding-right: 16px;
}
nav li {
	display: inline;
}
nav a {
	display: inline;
	position: relative;
}
#mobileMenuButton {
	display: none;
	cursor: pointer;
	position: absolute;
	top: 12px;
	right: 12px;
	fill: var(--primaryText);
}


@media screen and (max-width: 834px) {
	nav {
		padding: 0px;
	}
	nav ul {
		width: 100%;
		position: absolute;
		top: 345px;
		overflow: hidden;
		transition: 0.75s !important;
		background-color: var(--blue);
	}
	nav li {
		display: block;
		padding-top: 10px;
		padding-left: 0px;
	}
	#name {
		text-align: center;
		padding-top: 0px;
		padding-inline: 52px;
	}
	#logo {
		left: unset;
		right: 50%;
		transform: translateX(50%);
		top: 112px;
		padding: 4px;
	}
	header {
		height: 300px;
	}
	#button {
		right: 50%;
		transform: translateX(50%);
		top: 256px;
	}
	#mobileMenuButton {
		display: unset;
	}
	nav a {
		top: unset;
	}
	#navigationBar, #navigationBar a {
		padding: 0px;
	}
}
