:root {
	--blue: #009DFF;
}

@font-face {
	font-family: "GothamRounded";
	src: url("/fonts/GothamRounded.woff2");
}
@font-face {
	font-family: "GothamRounded-Bold";
	src: url("/fonts/GothamRounded-Bold.woff2");
}



*, ::placeholder {
	font-family: "GothamRounded";
	overflow-wrap: break-word;
	word-break: keep-all;
	text-decoration: none;
	padding: 0px;
	margin: 0px auto;
	color: var(--primaryText);
	scroll-behavior: smooth;
}


body {
	background-color: var(--blue);
	min-width: 320px;
}
main, main a, div, label {
	background-color: var(--primaryColor);
}
body.loaded * {
	transition: color 0.5s ease, background-color 0.5s ease;
}
::-webkit-scrollbar {
	background: transparent;
}
::-webkit-scrollbar-thumb {
	background: var(--secondaryColor);
	border-radius: 8px;
}


h2, h3, p, label, input, textarea, video {
	width: 75%;
}
h2, h3, label, #video, #colorSchemeToggle {
	text-align: center;
}
h2, h3, p {
	padding-inline: 16px;
	padding-block: 16px;
}
h1, h2, h2 *, h3 {
	font-family: "GothamRounded-Bold";
}
h1 {
	font-size: 64px;
}
h2 {
	font-size: 32px;
}
h3, label, input, li {
	font-size: 24px;
}
p, textarea, ::placeholder {
	font-size: 16px;
}
p {
	line-height: 200%;
}
p a:not(.button), a p, h3 a, .link {
	color: var(--secondaryColor);
	text-decoration: underline;
}
.icon {
	height: 16px;
}
span:not(.link) {
	white-space: nowrap;
	display: inline-block;
}
.button {
	background-color: var(--secondaryColor);
	color: var(--secondaryText);
	border-radius: 64px;
	cursor: pointer;
	padding: 12px;
	width: fit-content;
}


header {
	background-color: var(--blue);
	padding: 16px;
}
@media
	(max-width: 960px) and (min-height: 960px),
	(min-width: 961px) and (min-height: 640px)
{
	header {
		position: sticky;
		top: 0px;
	}
}
#name {
	float: left;
	margin-top: 64px;
}
#logo {
	float: left;
	width: 128px;
	height: 128px;
}
#auftragButton {
	float: right;
	margin-top: 64px;
	padding-block: 0px;
}
ul {
	clear: both;
}
li {
	display: inline;
	margin-right: 16px;
}

div:not(#sslcontactholder *) {
	padding-block: 32px;
}

video {
	height: min-content;
}

.sslcontact * {
	display: block;
}
label {
	padding-top: 16px;
}
input, textarea {
	height: 32px;
	max-width: 512px;
	padding-inline: 8px;
	background-color: var(--secondaryColor);
	border-radius: 16px;
	color: var(--secondaryText);
	border: None;
	resize: none;
}
textarea:not(.newsletter *) {
	min-height: 128px;
	padding: 8px;
}
#sslcontact_form > :nth-last-child(2) {
	display: none;
}
input[type="submit"] {
	margin-top: 16px;
	padding-inline: 8px;
	width: unset;
}
.statustext {
	padding: 8px;
}
#sslcontact_form div:nth-last-child(2) * {
	display: inline-block;
	margin-inline: 8px;
}
#sslcontact_form div:nth-last-child(2) {
	padding-bottom: 32px;
}
.formular > div:first-child, .formular > div:last-child {
	display: none;
}
.loader, .formular > div:nth-child(2), #permissionDenied, #failure {
	text-align: center;
	font-size: 32px;
	font-family: "GothamRounded-Bold";
	color: red;
}

footer *:not(a) {
	padding: 4px;
}



@media (max-width: 960px) {

	.redundant {
		display: none;
	}
	header {
		text-align: center;
	}
	#name, #logo, #auftragButton {
		float: unset;
	}
	#name {
		font-size: 32px;
		margin-top: 0px;
	}
	#auftragButton {
		font-size: 32px;
		position: fixed;
		bottom: 8px;
		right: 50%;
		transform: translateX(50%);
	}
	li {
		display: block;
		margin-top: 8px;
	}

	footer {
		margin-bottom: 64px;
	}
}
